@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<NavLink href="Counter/">NavLink</NavLink>

<a href="Counter/">ahref link</a>

<a href="javascript:windows.location.href='Counter/'; return false;">ahref javascript</a>

<webcomp-link></webcomp-link>